<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Please add the details for the new cake</h2>
    <form action="/cakes" method="post">
        <label for="name">Cake Name: </label>
        <input type="text" name="name" id="name">
        <br>
        <label for="type">Cake Type: </label>
        <input type="text" name="type" id="type">
        <br>
        <p>Prices:</p>
        <label for="8 inch">8 inch: </label>
        <input type="number" name="8 inch" id="8 inch" step="0.01">
        <br>
        <label for="10 inch">10 inch: </label>
        <input type="number" name="10 inch" id="10 inch" step="0.01">
        <br>
        <label for="12 inch">12 inch: </label>
        <input type="number" name="12 inch" id="12 inch" step="0.01">
        <br>
        <label for="image">Cake URL image link: </label>
        <input type="text" name="image" id="image">
        <br>
        <input type="submit" name="" id="">
    </form>
</body>
</html>